.content-loading{
	position: relative;
	max-height: 75vh;
	overflow: hidden;
	min-height: 300px;
}
.content-loaded{
	transition: max-height 1s;
}

.content-loader.hidden{
	opacity: 0;
	visibility: hidden;
}

.content-loader{
	z-index: 5;
	transition: opacity 1s;
}
.content-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	opacity: 1;
	.splash-spinner{
		margin-left: 0;
	}
}

.content-loader img {
	max-width: 300px;
	//filter: hue-rotate(310deg);;
}