$dark-75:          									$gray-800 !default; // Custom variable
$dark-65:          									$gray-700 !default; // Custom variable
$dark-50:          									$gray-600 !default; // Custom variable
$dark-25:          									$gray-400 !default; // Custom variable
$dark: $gray-900;

$dark:          									$dark !default; // Bootstrap variable
$dark-hover:          								darken($dark, 3%) !default; // Custom variable
$dark-light:          							    $gray-400 !default; // Custom variable
$dark-inverse:         								$white !default; // Custom variable

// Primary colors
$primary:       									#3699FF !default; // Bootstrap variable
$primary-hover:    									darken($primary,4%) !default; // Custom variable
$primary-light:    									lighten(desaturate($primary,15%),20%) !default; // Custom variable
$primary-inverse:  									$white !default;  // Custom variable

// Secondary colors
$secondary:     									$gray-300 !default; // Bootstrap variable
$secondary-hover:  									darken($secondary, 4%) !default; // Custom variable
$secondary-light:  									lighten(desaturate($secondary,15%),20%) !default; // Custom variable
$secondary-inverse:									$dark-75 !default; // Custom variable

// Success colors
//$success:       									#1BC5BD !default; // Bootstrap variable
$success-hover:    									darken($success,4%) !default; // Custom variable
$success-light:    									lighten(desaturate($success,15%),20%) !default; // Custom variable
$success-inverse:  									$white !default; // Custom variable

// Inco colors
//$info:         		 								#8950FC !default; // Bootstrap variable
$info-hover:   		 								darken($info,4%) !default; // Custom variable
$info-light:   		 								lighten(desaturate($info,15%),20%) !default; // Custom variable
$info-inverse: 		 								$white !default; // Custom variable

// Warning colors
//$warning:       									#FFA800 !default; // Bootstrap variable
$warning-hover:    									darken($warning,4%) !default; // Custom variable
$warning-light:    									lighten(desaturate($warning,15%),20%) !default; // Custom variable
$warning-inverse:  									$white !default; // Custom variable

// Danger colors
//$danger:        									#F64E60 !default; // Bootstrap variable
$danger-hover:     									darken($danger,4%) !default; // Custom variable
$danger-light:     									lighten(desaturate($danger,15%),20%) !default; // Custom variable
$danger-inverse:   									$white !default; // Custom variable

// Light colors
$light:         									$gray-100 !default; // Bootstrap variable
$light-hover:         								$gray-300 !default; // Custom variable
$light-light:         								$gray-100 !default; // Custom variable
$light-inverse:        								$gray-600 !default; // Custom variable

// White colors
$white:    											$white !default; // Bootstrap variable
$white-hover:    									$gray-100 !default; // Custom variable
$white-light:    									$white !default;  // Custom variable
$white-inverse:    									$dark-75 !default; // Custom variable

$theme-colors: () !default;
$theme-colors: map-merge($theme-colors,(
		"white":      $white,  // custom color type
		"primary":    $primary,
		"secondary":  $secondary,
		"success":    $success,
		"info":       $info,
		"warning":    $warning,
		"danger":     $danger,
		"light":      $light,
		"dark":       $dark
));

// Extended hover colors for Bootstrap theme colors
$theme-hover-colors: () !default;  // Custom variable
$theme-hover-colors: map-merge($theme-hover-colors,(
		"white":      $white-hover,   // custom color type
		"primary":    $primary-hover,
		"secondary":  $secondary-hover,
		"success":    $success-hover,
		"info":       $info-hover,
		"warning":    $warning-hover,
		"danger":     $danger-hover,
		"light":      $light-hover,
		"dark":       $dark-hover
));

// Extended inverse colors for Bootstrap theme colors
$theme-inverse-colors: () !default;  // Custom variable
$theme-inverse-colors: map_merge($theme-inverse-colors,(
		"white":      $white-inverse,
		"primary":    $primary-inverse,
		"secondary":  $secondary-inverse,
		"success":    $success-inverse,
		"info":       $info-inverse,
		"warning":    $warning-inverse,
		"danger":     $danger-inverse,
		"light":      $light-inverse,
		"dark":       $dark-inverse
));  // Custom variable

// Extended outline colors for Bootstrap theme colors
$theme-outline-inverse-colors: () !default;  // Custom variable
$theme-outline-inverse-colors: map-merge($theme-outline-inverse-colors,(
		"white":      $white,
		"primary":    $primary,
		"secondary":  $dark-75,
		"success":    $success,
		"info":       $info,
		"warning":    $warning,
		"danger":     $danger,
		"light":      $dark-75,
		"dark":       $dark
));

// Extended light colors for Bootstrap theme colors
$theme-light-colors: () !default;  // Custom variable
$theme-light-colors: map-merge($theme-light-colors,(
		"white":      $white-light,
		"primary":    $primary-light,
		"secondary":  $secondary-light,
		"success":    $success-light,
		"info":       $info-light,
		"warning":    $warning-light,
		"danger":     $danger-light,
		"light":      $light-light,
		"dark":       $dark-light
));

// Extended shadow colors for Bootstrap theme colors
$theme-shadow-colors: () !default;  // Custom variable
$theme-shadow-colors: map-merge($theme-shadow-colors,(
		"white":      $dark,
		"primary":    $primary,
		"secondary":  $dark,
		"success":    $success,
		"info":       $info,
		"warning":    $warning,
		"danger":     $danger,
		"light":      $dark,
		"dark":       $dark
));

// Extended theme text colors
$theme-text-colors: () !default;  // Custom variable
$theme-text-colors: map-merge($theme-text-colors,(
		"white":      $white,
		"primary":    $primary,
		"secondary":  $dark,
		"success":    $success,
		"info":       $info,
		"warning":    $warning,
		"danger":     $danger,
		"light":      $light,
		"dark":       $dark,
		"dark-75":    $dark-75,
		"dark-65":    $dark-65,
		"dark-50":    $dark-50,
		"dark-25":    $dark-25,
		"muted":      $text-muted
));


$transition: all 0.15s ease !default;
$transition-link: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease !default;
$grays: () !default;
$grays: map-merge(
				(
						"100": $gray-100,
						"200": $gray-200,
						"300": $gray-300,
						"400": $gray-400,
						"500": $gray-500,
						"600": $gray-600,
						"700": $gray-700,
						"800": $gray-800,
						"900": $gray-900
				),
				$grays
);
$heights-and-widths: () !default;
$heights-and-widths: map_merge((
		100: 100%,
		50: 50%,
		auto: auto,
		1px: 1px,
		2px: 2px,
		3px: 3px,
		4px: 4px,
		5px: 5px,
		10px: 10px,
		15px: 15px,
		20px: 20px,
		25px: 25px,
		30px: 30px,
		35px: 35px,
		40px: 40px,
		45px: 45px,
		50px: 50px,
		55px: 55px,
		60px: 60px,
		65px: 65px,
		70px: 70px,
		75px: 75px,
		80px: 80px,
		85px: 85px,
		90px: 90px,
		95px: 95px,
		100px: 100px,
		105px: 105px,
		110px: 110px,
		115px: 115px,
		120px: 120px,
		125px: 125px,
		130px: 130px,
		135px: 135px,
		140px: 140px,
		145px: 145px,
		150px: 150px,
		175px: 175px,
		180px: 180px,
		200px: 200px,
		225px: 225px,
		250px: 250px,
		255px: 255px,
		260px: 260px,
		265px: 265px,
		275px: 275px,
		295px: 295px,
		300px: 300px,
		325px: 325px,
		350px: 350px,
		375px: 375px,
		400px: 400px,
		425px: 425px,
		450px: 450px,
		475px: 475px,
		500px: 500px,
		550px: 550px,
		600px: 600px,
		650px: 650px,
		700px: 700px,
		750px: 750px,
		800px: 800px,
		850px: 850px,
		900px: 900px,
		950px: 950px,
		1000px: 1000px,
), $heights-and-widths);

$font-sizes: (
		font-size-h1: $h1-font-size,
		font-size-h2: $h2-font-size,
		font-size-h3: $h3-font-size,
		font-size-h4: $h4-font-size,
		font-size-h5: $h5-font-size,
		font-size-h6: $h6-font-size,
		display1: $display1-size,
		display2: $display2-size,
		display3: $display3-size,
		display4: $display4-size
) !default;
