.react-select{
	padding: 0 !important;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&:not(.form-control){
		border-color: transparent !important;
	}

	&.form-control.is-invalid{
		background-position-y: 4px;
		background-position-x: calc(100% - 20px);
	}

	> .react-select__menu{
		z-index: 6;
	}

	> .react-select__control{
		height: auto;
		width: 100%;
		background: transparent;
		border-radius: inherit;
		border-color: transparent !important;
		box-shadow: none !important;

		> .react-select__value-container{
			padding: $input-padding-y $input-padding-x;
			@at-root #{selector_append(".form-control-lg",&)}{
				padding: $input-padding-y-lg $input-padding-x-lg;
			}
			@at-root #{selector_append(".form-control-sm",&)}{
				padding: $input-padding-y-sm $input-padding-x-sm;
			}

			.react-select__placeholder{
				color: #b5b5c3;
			}
		}

		> .react-select__indicators{
			> .react-select__indicator{
				padding: 0 $input-padding-x;
				@at-root #{selector_append(".form-control-lg",&)}{
					padding: 0 $input-padding-x-lg;
				}
				@at-root #{selector_append(".form-control-sm",&)}{
					padding: 0 $input-padding-x-sm;
				}
				@at-root #{selector_append(".is-invalid",&)}{
					//@extend .form-control.is-invalid;
					position: relative;
					//margin-bottom: -15px;
					&.react-select__dropdown-indicator{
						position: relative;
						top: 5px;
					}
					svg{
						fill: $danger;
						//opacity: 0;
					}
				}
			}
		}

		//border-color: transparent !important;

		&.react-select__control--is-focused{
			//border-color: $input-focus-border-color !important;
		}
	}
}